{% load static %}

<div class="row mt-5" id="contact">
    <h1>Contacts and Profiles</h1>
</div>
<div class="row">
    <p>Github: <a href="https://github.com/plasmatic1">plasmatic1</a></p>
</div>
<div class="row">
    <p>Discord: <a href="https://discordapp.com/users/181462351231320064">@Plasmatic#6581</a></p>
</div>
<div class="row">
    <p>Email: <a href="mailto:moses@mosesxu.net">moses@mosesxu.net</a></p>
</div>

{#        <p>DM::OJ: <a href="https://dmoj.ca/user/Plasmatic">Plasmatic</a></p>#}
{#            <p>Codeforces: <a href="https://codeforces.com/profile/Plasmatic">Plasmatic</a></p>#}
{#            <p>Atcoder: </p>#}