{# Load Static #}
{% load static %}

{# ..... Spacers #}
<div class="row mt-4"></div>
<div class="row mt-4"></div>

{# Actual HTML #}
<div class="row mt-5" id="contests">
    <h1>Contest Highlights</h1>
</div>
{% include 'widgets/spacer.html' %}

{# Selector Widget #}
<div class="contest-selector-widget btn-group mb-3 mt-1" role="group">
{#    <button type="button" mode="official" class="btn btn-outline-primary">Onsites/Official</button>#}
{#    <button type="button" mode="highlight" class="btn btn-outline-primary">Highlights</button>#}
{#    <button type="button" mode="all" class="btn btn-outline-primary">Everything</button>#}
    <p>These are some contest performances that I wanted to highlight and is not a complete list of my competition history</p>
</div>

{# Contest Divs #}
<div class="row contest-scores 2020"></div>
<div class="row contest-scores 2019"></div>
<div class="row contest-scores 2018"></div>

{# Online Judge Profiles #}
<div class="row mt-2">
    <h3>Online Judge Profiles</h3>
</div>

<div class="row mt-1">
    <ul>
        <li><a href="https://dmoj.ca/user/Plasmatic">DMOJ: Plasmatic</a></li>
        <li><a href="https://codeforces.com/profile/Plasmatic">CF: Plasmatic</a></li>
        <li><a href="https://codeforces.com/profile/zey_zey_chen">CF: zey_zey_chen</a></li>
        <li><a href="https://codeforces.com/profile/chad_master_13221">CF: chad_master_13221</a></li>
        <li><a href="https://atcoder.jp/user/Plasmatic">AtCoder: Plasmatic</a></li>
        <li><a href="https://www.topcoder.com/members/Plasmatic">Topcoder: Plasmatic</a></li>
    </ul>
</div>

{# Load contest data #}
{% include 'main/parts/contests_data.html' %}

<script>
    // Some functions for displaying and calculations
    function placementSuffix(placement) {
        const md = placement % 10;
        if (md === 1) return 'st';
        else if (md === 2) return 'nd';
        return 'th';
    }

    function round(num, digits = 0) {
        return Number(Math.round(num + `e${digits}`) + `e-${digits}`);
    }

    // Loading image icons
    function loadImageIcons() {
        $('img[icon]')
            .attr('width', '25')
            .addClass('mr-1')
            .each(function () {
                const icon = $(this).attr('icon'), iconFolderRoot = "{% static 'contest-judge-icons' %}";

                let iconFileExtension;
                switch (icon) {
                    case 'atcoder':
                    case 'cf':
                    case 'dmoj':
                    case 'facebook':
                    case 'reply':
                    case 'topcoder':
                        iconFileExtension = 'png';
                        break;
                    case 'google':
                    case 'mcpt':
                    case 'usaco':
                    case 'uwaterloo':
                        iconFileExtension = 'ico';
                        break;
                    case 'peg':
                        iconFileExtension = 'gif';
                        break;
                    default:
                        iconFileExtension = 'asdfsdfsjdfdf'; // just make it not resolve anything
                        break;
                }

                $(this).attr('src', `${iconFolderRoot}/${icon}.${iconFileExtension}`)
                    .attr('alt', `${icon} icon`);
            });
    }

    // Add Contests
    let curMode = 'highlight';
    function renderContests() {
        for (const year of Object.keys(CONTESTS)) {
            let $div = $(`div.contest-scores.${year}`);
            $div.html('')
                .append(`<h5>${year}</h5>`)
                .append('<ul></ul>');
            let $el = $div.find('ul');

            let curMonth = 'not a month';
            for (const {name, type, placement, totalPlacement, placementInfo, link, date, groups} of CONTESTS[year]) {
                if (curMode !== 'all' && (!groups || !groups.includes(curMode)))
                    continue; // Dont render this contest

                const {month, day} = date;

                if (curMonth !== month) {
                    curMonth = month;
                    $el.append(`<h6>${month}</h6>`);
                }

                const precentile = (1 - (placement - 1) / totalPlacement) * 100;

                $el.append(`<li>
                <p><img icon="${type}"> <a href="${link}">${name} (${month} ${day})</a></p>
                <p>Placement: ${placementInfo ? '(' + placementInfo + ') ' : ''} ${placement} / ${totalPlacement}, Precentile: ${round(precentile, 2)}%</p>
            </li>`);
            }
        }

        // Load image icons
        loadImageIcons();

        // Some batched formatting :)
        $('.contest-scores ul').each(function () {
            // Margins for month headings
            $(this).find('h6:not(:first)').addClass('mt-4');
            $(this).find('h6:first').addClass('mt-1');

            // <p> tag margins
            $(this).find('li').each(function () {
                $(this).find('p:first').addClass('mb-1');
                $(this).find('p:eq(1)').addClass('mb-2');
            });
        });
    }
    renderContests();

    // Contest Selector Widget
    let $contestSelectorWidget = $('.contest-selector-widget');
    let $contestSelectorWidgetButtons = $contestSelectorWidget.find('button');
    $contestSelectorWidgetButtons.each(function() {
        const mode = $(this).attr('mode');
        $(this).click(function() {
            curMode = mode;
            $contestSelectorWidgetButtons.removeClass('active');
            $contestSelectorWidget.find(`button[mode=${mode}]`).addClass('active');
            renderContests();
        });
    });

    // Set active button for initial mode
    $contestSelectorWidget.find(`button[mode=${curMode}]`).addClass('active');
</script>