{# ..... Spacers #}
<div class="row mt-4"></div>
<div class="row mt-4"></div>

{# Actual HTML #}
<div class="row mt-5" id="contests">
    <h1>Contest Performance</h1>
</div>
{% include 'widgets/spacer.html' %}

{# 2020 #}
<div class="row">
    <h5>2020</h5>
    <ul>
        <li>Coming Soon... :)</li>
    </ul>
</div>

{# 2019 #}
<div class="row">
    <h5>2019</h5>
    <ul>
        <li>Educational Codeforces Round 79 (Dec 27) (As Plasmatic)</li>
        <li>Codeforces Global Round 6 (Dec 17) (as zey_zey_chen</li>
        <li>USACO December Contest 2019 - Silver (Dec 13)</li>
        <li>Moose '19 Contest 3 - Senior (Dec 13)</li>
        <li>GlobeX Cup '19 - Senior (Dec 9)</li>
        <li>DMOPC '19 November Contest (Dec 2)</li>

        <li>Moose '19 Contest 2 - Senior (Nov 22)</li>
        <li>Codeforces Round 601 (Div. 2) (Nov 19)(as zey_zey_chen)</li>
        <li>Codeforces Round 600 (Div. 2) (Nov 16)(as zey_zey_chen)</li>
        <li>Educational Codeforces Round 76 (Nov 13) (as zey_zey_chen)</li>

        <li>Google KickStart 2019 Round G (Oct 19)</li>
        <li>AtCoder Beginner Contest 143 (Oct 19)</li>
        <li>Moose '19 Contest 1 - Senior (Oct 16)</li>
        <li>DMOPC '19 October Contest (Oct 14)</li>

        <li>DMOPC '19 September Contest (Sept 16)</li>
        <li>Back to School '19 Contest (Sept 9)</li>
        <li>Educational Codeforces Round 72 (Sept 5) (as Plasmatic)</li>
        <li>Back from Summer '19 Contest (Sept 3)</li>

        <li>Educational Codeforces Round 71 (Aug 22) (as zey_zey_chen)</li>
        <li>Codeforces Round 580 (Div. 2) (Aug 18) (as Plasmatic)</li>
        <li>AtCoder Beginner Contest 138 (Aug 18)</li>
        <li>Educational Codeforces Round 70 (Aug 7) (as zey_zey_chen)</li>

        <li>AtCoder Beginner Contest 135 (Jul 27)</li>
        <li>Another Contest 5 (Jul 22)</li>
        <li>Educational Codeforces Round 68 (July 14) (as Plasmatic)</li>

        <li>Facebook HackerCup 2019 Round 1 (June 29)</li>
        <li>Facebook HackerCup 2019 Qualification Round (June 14)</li>

        <li>Woburn Finals '19 - Junior (May 18)</li>
        <li>Codeforces Round 561 (Div. 2) (May 17)</li>

        <li>DMPG '19 - Silver (Apr 25)</li>
        <li>Google Code Jam 2019 Round 1B (Apr 28)</li>
        <li>Google Code Jam 2019 Round 1A (Apr 12)</li>
        <li>Google Code Jam 2019 Qualification Round (Apr 5)</li>

        <li>Codeforces Round 548 (Div. 2) (Mar 21)</li>
        <li>DMOPC '18 March Contest (Mar 13)</li>

        <li>USACO Febuary Contest 2019 - Bronze (Feb ??)</li>
        <li>CCC 2019 (Feb 20)</li>
        <li>DMOPC '18 Feb Contest (Feb 19)</li>
        <li>Valentines '19 Senior (Feb 17)</li>
    </ul>
</div>

{# 2018 #}
<div class="row">
    <h5>2018</h5>
    <ul>
        <li>LKP '18 Contest 2 (Dec 31)</li>
        <li>Moose '18 - Senior (Dec 18)</li>
        <li>DMOPC '18 December Contest (Dec 12)</li>

        <li>Another Contest 3 (Nov 27)</li>
        <li>LKP '18 Contest 1 (Nov 19)</li>
        <li>DMOPC '18 November Contest (Nov 14)</li>
        <li>Another Contest 2 (Nov 13)</li>

        <li>Another Contest 1 (Oct 16)</li>
        <li>DMOPC '18 October Contest (Oct 10)</li>
        <li>Codeforces Round 514 (Div. 2) (Oct 5) (as Plasmatic)</li>

        <li>CCC 2018 (Feb 14)</li>
    </ul>
</div>

{# Online Judge Profiles #}
<div class="row">
    <h3>Online Judge Profiles</h3>
</div>

{#        <p>DM::OJ: <a href="https://dmoj.ca/user/Plasmatic">Plasmatic</a></p>#}
{#            <p>Codeforces: <a href="https://codeforces.com/profile/Plasmatic">Plasmatic</a></p>#}
{#            <p>Atcoder: </p>#}