<div class="row mt-5" id="contests">
    <h1>Contest Performance</h1>
</div>
<div class="row">
    <ul>
        <li>
            2019
            <ul>
                <li>WIP...</li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
        <li>
            2018
            <ul>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </li>
    </ul>
</div>
