{% load static %}

<script>
    /*
    {
        name: 'Contest name',
        type: 'judge (i.e. dmoj, cf, atcoder, mcpt)',
        placement: '(Number) rank in contest',
        totalPlacement: '(Number) total # of participants',
        placementInfo: '(Optional) Any extra info about the placement given (i.e. only rated users)',
        score: '(Number) Raw score',
        totalScore: '(Number) Total possible points',
        link: 'Link to scoreboard (or photo of it)',
        date: {
            month: 'Month (i.e. January, February)',
            day: '(Number) the day (i.e. 23, 16, 4)'
        },
        groups: ['(Optional)', 'array of groups this contest belongs to', 'available groups are currently: official, highlight']
    }
     */

    const CONTESTS = {
        2021: [
            {
                name: 'Moose \'20 Contest 2 Senior (Team Contest)',
                type: 'mcpt',
                placement: 1,
                totalPlacement: 18,
                score: 614,
                totalScore: 500,
                link: 'https://mcpt.ca/contest/moose20c2s/ranking/',
                date: {
                    month: 'January',
                    day: 9
                },
                groups: ['official', 'highlight']
            }
        ],
        2020: [
            {
                name: 'USACO December Contest 2020 - Platinum',
                type: 'usaco',
                placement: 66,
                totalPlacement: 253,
                score: 333,
                totalScore: 1000,
                link: '',
                date: {
                    month: 'December',
                    day: 21
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Moose \'20 Contest 1 Senior (Team Contest)',
                type: 'mcpt',
                placement: 1,
                totalPlacement: 30,
                score: 667,
                totalScore: 500,
                link: 'https://mcpt.ca/contest/moose20c1s/ranking/',
                date: {
                    month: 'December',
                    day: 5
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Google Kickstart 2020 Round H',
                type: 'google',
                placement: 7,
                totalPlacement: 4298,
                score: 100,
                totalScore: 100,
                link: 'https://codingcompetitions.withgoogle.com/kickstart/round/000000000019ff49',
                date: {
                    month: 'Nov',
                    day: 15
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'DMOPC \'20 October Contest',
                type: 'dmoj',
                placement: 2,
                totalPlacement: 257,
                score: 545,
                totalScore: 600,
                link: 'https://dmoj.ca/contest/dmopc20c1/ranking/',
                date: {
                    month: 'October',
                    day: 12
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'Codeforces Round 669 (Div. 2)',
                type: 'cf',
                placement: 4,
                totalPlacement: 11250,
                score: 5686,
                totalScore: 7500,
                link: 'https://codeforces.com/contest/1407/standings/participant/102177905#p102177905',
                date: {
                    month: 'September',
                    day: 7
                },
                groups: ['highlight']
            },

            {
                name: 'Facebook HackerCup 2020 Round 2',
                type: 'facebook',
                placement: 327,
                totalPlacement: 1737,
                score: 64,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/fhc20r2.png" %}',
                date: {
                    month: 'August',
                    day: 29
                },
                groups: ['highlight']
            },
            {
                name: 'Facebook HackerCup 2020 Round 1',
                type: 'facebook',
                placement: 504,
                totalPlacement: 13820,
                score: 45,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/fhc20r1.png" %}',
                date: {
                    month: 'August',
                    day: 15
                },
                groups: ['highlight']
            },
            {
                name: 'Facebook HackerCup 2020 Qualification Round',
                type: 'facebook',
                placement: 570,
                totalPlacement: 32699,
                score: 62,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/fhc20qualifier.png" %}',
                date: {
                    month: 'July',
                    day: 24
                },
                groups: ['highlight']
            },

            {
                name: 'Google Code Jam 2020 Round 3',
                type: 'google',
                placement: 470,
                totalPlacement: 692,
                score: 12,
                totalScore: 100,
                link: 'https://codingcompetitions.withgoogle.com/codejam/round/000000000019ff7e',
                date: {
                    month: 'June',
                    day: 6
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'Google Kickstart 2020 Round C',
                type: 'google',
                placement: 13,
                totalPlacement: 10104,
                score: 100,
                totalScore: 100,
                link: 'https://codingcompetitions.withgoogle.com/kickstart/round/000000000019ff43',
                date: {
                    month: 'May',
                    day: 17
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Google Code Jam 2020 Round 2',
                type: 'google',
                placement: 992,
                totalPlacement: 3893,
                score: 39,
                totalScore: 100,
                link: 'https://codingcompetitions.withgoogle.com/codejam/round/000000000019ffb9',
                date: {
                    month: 'May',
                    day: 16
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'ECOO 2020',
                type: 'mcpt',
                placement: 5,
                totalPlacement: 438,
                score: 541,
                totalScore: 400,
                link: 'https://ecoocs.org/boardwide.php',
                date: {
                    month: 'May',
                    day: 2
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'Codeforces Round 637 (Div. 1)',
                type: 'cf',
                placement: 157,
                totalPlacement: 1242,
                score: 2103,
                totalScore: 9500,
                link: 'https://codeforces.com/contest/1340/standings',
                date: {
                    month: 'April',
                    day: 23
                },
                groups: ['highlight']
            },
            {
                name: 'TCO20 Algo Round 1A (Div 1)',
                type: 'topcoder',
                placement: 40,
                totalPlacement: 1003,
                score: 1203.66,
                totalScore: 1750,
                link: 'https://community.topcoder.com/stat?Contest=%2Fstat%3Fc%3Dround_overview%26er%3D50%26rd%3D17906&rd=17906&c=round_overview&er=5000',
                date: {
                    month: 'April',
                    day: 17
                },
                groups: ['highlight']
            },
            {
                name: 'Google Code Jam 2020 Round 1A',
                type: 'google',
                placement: 306,
                totalPlacement: 8986,
                score: 100,
                totalScore: 100,
                link: 'https://codingcompetitions.withgoogle.com/codejam/round/000000000019fd74',
                date: {
                    month: 'April',
                    day: 11
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'DMOPC \'19 March Contest',
                type: 'dmoj',
                placement: 9,
                totalPlacement: 288,
                score: 535,
                totalScore: 630,
                link: 'https://dmoj.ca/contest/dmopc19c6/ranking/',
                date: {
                    month: 'March',
                    day: 30
                },
                groups: ['highlight']
            },
            {
                name: 'USACO Open Contest 2020 - Platinum',
                type: 'usaco',
                placement: 203,
                totalPlacement: 394,
                score: 263,
                totalScore: 1000,
                link: '{% static 'contest-placement-pictures/usaco2020marplat.png' %}',
                date: {
                    month: 'March',
                    day: 27
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Reply Code Challenge 2020 Teen',
                type: 'reply',
                placement: 13,
                totalPlacement: 1254,
                score: 5000,
                totalScore: 5000,
                link: 'https://challenges.reply.com/tamtamy/challenge/code-teen2020/detail',
                date: {
                    month: 'March',
                    day: 12
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'USACO February Contest 2020 - Platinum',
                type: 'usaco',
                placement: 138,
                totalPlacement: 366,
                score: 397,
                totalScore: 1000,
                link: '{% static 'contest-placement-pictures/usaco2020febplat.png' %}',
                date: {
                    month: 'February',
                    day: 21
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Codeforces Round 620 (Div. 2)',
                type: 'cf',
                placement: 54,
                totalPlacement: 8403,
                score: 6659,
                totalScore: 9750,
                link: 'https://codeforces.com/contest/1304/standings/participant/32987224#p32987224',
                date: {
                    month: 'February',
                    day: 15
                },
                groups: ['highlight']
            },
            {
                name: 'CCC \'20 Senior',
                type: 'uwaterloo',
                placement: 26,
                totalPlacement: 2827,
                score: 53,
                totalScore: 75,
                link: 'https://cemc.uwaterloo.ca/contests/past_contests/2020/2020CCCResults.pdf',
                date: {
                    month: 'February',
                    day: 12
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'USACO January Contest 2020 - Platinum',
                type: 'usaco',
                placement: 175,
                totalPlacement: 341,
                score: 185,
                totalScore: 1000,
                link: '{% static 'contest-placement-pictures/usaco2020janplat.png' %}',
                date: {
                    month: 'January',
                    day: 20
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'USACO January Contest 2020 - Gold',
                type: 'usaco',
                placement: 1,
                totalPlacement: 662,
                score: 1000,
                totalScore: 1000,
                link: 'http://www.usaco.org/current/data/jan20_gold_results.html',
                date: {
                    month: 'January',
                    day: 18
                },
                groups: ['official', 'highlight']
            }
        ],
        2019: [
            {
                name: 'USACO December Contest 2019 - Silver',
                type: 'usaco',
                placement: 358,
                totalPlacement: 2299,
                score: 667,
                totalScore: 1000,
                link: 'http://usaco.org/current/data/dec19_silver_results.html',
                date: {
                    month: 'December',
                    day: 13
                },
                groups: ['official']
            },

            {
                name: 'Moose \'19 Contest 2 - Senior',
                type: 'mcpt',
                placement: 1,
                totalPlacement: 37,
                score: 590,
                totalScore: 700,
                link: 'https://mcpt.ca/contest/moose19c2s/ranking/',
                date: {
                    month: 'November',
                    day: 22
                },
                groups: ['official', 'highlight']
            },

            {
                name: 'Google Kickstart Round G',
                type: 'google',
                placement: 406,
                totalPlacement: 3382,
                score: 77,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/google19.png" %}',
                date: {
                    month: 'October',
                    day: 19
                },
                groups: ['official']
            },
            {
                name: 'Moose \'19 Contest 1 - Senior',
                type: 'mcpt',
                placement: 1,
                totalPlacement: 15,
                score: 654,
                totalScore: 700,
                link: 'https://mcpt.ca/contest/moose19c1s/ranking/',
                date: {
                    month: 'October',
                    day: 16
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'DMOPC \'19 October Contest',
                type: 'dmoj',
                placement: 7,
                totalPlacement: 157,
                score: 500,
                totalScore: 630,
                link: 'https://dmoj.ca/contest/dmopc19c2/ranking/',
                date: {
                    month: 'October',
                    day: 14
                },
                groups: ['highlight']
            },

            {
                name: 'Facebook HackerCup 2019 Round 1',
                type: 'facebook',
                placement: 1904,
                totalPlacement: 2490,
                score: 1,
                totalScore: 4,
                link: '{% static "contest-placement-pictures/fhc19r1.png" %}',
                date: {
                    month: 'June',
                    day: 29
                }
            },
            {
                name: 'Facebook HackerCup 2019 Qualification Round',
                type: 'facebook',
                placement: 4302,
                totalPlacement: 6539,
                score: 1,
                totalScore: 4,
                link: '{% static "contest-placement-pictures/fhc19qualifier.png" %}',
                date: {
                    month: 'June',
                    day: 14
                }
            },
            {
                name: 'Triway Cup \'19 Summer',
                type: 'dmoj',
                placement: 2,
                totalPlacement: 23,
                placementInfo: 'Onsite, Official',
                score: 400,
                totalScore: 800,
                link: 'https://dmoj.ca/contest/tc19summers/ranking/',
                date: {
                    month: 'June',
                    day: 9
                },
                groups: ['official']
            },

            {
                name: 'Woburn Finals \'19 - Junior',
                type: 'peg',
                placement: 5,
                totalPlacement: 12,
                score: 74,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/wc19finalsjr.png" %}',
                date: {
                    month: 'May',
                    day: 18
                },
                groups: ['official']
            },

            {
                name: 'Google Code Jam 2019 Round 1B',
                type: 'google',
                placement: 1431,
                totalPlacement: 6571,
                score: 51,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/google19.png" %}',
                date: {
                    month: 'April',
                    day: 28
                },
                groups: ['official']
            },
            {
                name: 'DMPG \'19 - Silver',
                type: 'dmoj',
                placement: 1,
                totalPlacement: 43,
                placementInfo: 'Onsite',
                score: 370,
                totalScore: 600,
                link: '{% static "contest-placement-pictures/dmpg19s.png" %}',
                date: {
                    month: 'April',
                    day: 25
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'Google Code Jam 2019 Round 1A',
                type: 'google',
                placement: 3163,
                totalPlacement: 4807,
                score: 18,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/google19.png" %}',
                date: {
                    month: 'April',
                    day: 12
                },
                groups: ['official']
            },
            {
                name: 'Google Code Jam 2019 Qualification Round',
                type: 'google',
                placement: 2277,
                totalPlacement: 31664,
                score: 66,
                totalScore: 100,
                link: '{% static "contest-placement-pictures/google19.png" %}',
                date: {
                    month: 'April',
                    day: 5
                },
                groups: ['official']
            },

            {
                name: 'USACO Febuary Contest 2019 - Bronze',
                type: 'usaco',
                placement: 1,
                totalPlacement: 2162,
                score: 1000,
                totalScore: 1000,
                link: 'http://www.usaco.org/current/data/feb19_bronze_results.html',
                date: {
                    month: 'February',
                    day: '??'
                },
                groups: ['official', 'highlight']
            },
            {
                name: 'CCC 2019 - Senior',
                type: 'uwaterloo',
                placement: 435,
                totalPlacement: 2719,
                score: 33,
                totalScore: 75,
                link: 'https://cemc.uwaterloo.ca/contests/computing/2019/stage%201/2019CCCResults.pdf',
                date: {
                    month: 'February',
                    day: 20
                },
                groups: ['official']
            },
        ],
        2018: [
            {
                name: 'Moose \'18 - Senior',
                type: 'mcpt',
                placement: 6,
                totalPlacement: 48,
                score: 369,
                totalScore: 700,
                link: 'https://mcpt.ca/contest/moose18s/ranking/',
                date: {
                    month: 'December',
                    day: 18
                },
                groups: ['official']
            },
            {
                name: 'GlobeX Cup \'18 - Senior',
                type: 'dmoj',
                placement: 10,
                totalPlacement: 40,
                score: 500,
                totalScore: 500,
                link: 'https://dmoj.ca/contest/globex18senior/ranking/',
                date: {
                    month: 'December',
                    day: 16
                }
            },
            {
                name: 'CCC 2018 - Senior',
                type: 'uwaterloo',
                placement: 50,
                totalPlacement: 2144,
                placementInfo: 'Approx.',
                score: 50,
                totalScore: 75,
                link: 'https://cemc.uwaterloo.ca/contests/past_contests/2018/2018CCCResults.pdf',
                date: {
                    month: 'February',
                    day: 14
                },
                groups: ['official', 'highlight']
            }
        ]
    };
</script>
