{% load static %}

{# ..... Spacers #}
<div class="row mt-4"></div>

<div class="row mt-5" id="contact">
    <h1>Contacts and Profiles</h1>
</div>
{% include 'widgets/spacer.html' %}

<div class="row">
    {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1" label="plasmatic1" %}
</div>
<div class="row mt-1">
    <a href="https://discordapp.com/users/181462351231320064" class="btn btn-outline-dark"><i class="fab fa-discord mr-1"></i> Plasmatic#0001</a>
</div>
<div class="row mt-1 mb-5">
    <a href="mailto:moses@mosesxu.net" class="btn btn-outline-primary"><i class="far fa-envelope mr-1"></i> moses@mosesxu.net</a></p>
</div>
