{% load static %}

{# ..... Spacers #}
<div class="row mt-4"></div>
<div class="row mt-4"></div>
<div class="row mt-4"></div>
<div class="row mt-4"></div>
<div class="row mt-4"></div>

{# Actual HTML #}
<div class="row mt-5">
    <h1>Projects</h1>
</div>
{% include 'widgets/spacer.html' %}

<div class="row" id="projects">
    <div class="row mb-4">
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/cptools.png' %}" class="card-img-top" alt="The CP Tools UI">
                <div class="card-body">
                    <h5 class="card-title">CP Tools (Rewrite)</h5>
                    <p class="card-text">A Python module tailored for Competitive Programming.
                        It includes local testing tools, a built-in stress tester, and has support for
                        Competitive Companion (no extra ports need to be configured).  Made using Python 3.</p>

                    {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1/cp-tools-console" %}
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/betterweb.png' %}" class="card-img-top"
                     alt="The BetterWeb Extension in Action">
                <div class="card-body">
                    <h5 class="card-title">BetterWeb</h5>
                    <p class="card-text">This is a project I'm undertaking with some school friends and is a
                        Chrome Extension meant to detect bias in online news articles through literary analysis
                        of their headlines. A collection of headlines are first assigned biases (far left, left,
                        neutral, right, far right, nonpolitical) and then are used as training data for a
                        Neutral Network which is finally used to predict the bias of other headlines.</p>

                    <div class="mb-1">
                        {% include 'main/links/github_link.html' with href="https://github.com/betterweb-team/BetterWeb" label="Chrome Extension Repo" %}
                    </div>
                    <div class="mb-1">
                        {% include 'main/links/github_link.html' with href="https://github.com/betterweb-team/betterweb-backend" label="Training Repo" %}
                    </div>
                    <div>
                        {% include 'main/links/github_link.html' with href="https://github.com/betterweb-team/betterwebvote" label="Data Collection Repo" %}
                    </div>
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/onlinejudgesolutions.png' %}" class="card-img-top"
                     alt="Some Popular Online Judges">
                <div class="card-body">
                    <h5 class="card-title">Online Judge Solutions</h5>
                    <p class="card-text">A List of my online judge solutions. There is also a webapp to view the
                        DM::OJ solutions in a more reasonable manner. (searching by problem name, solutions
                        displayed alongside problem statements, etc.)</p>

                    <div class="mb-1">
                        {% include 'main/links/link.html' with href="/dmojsols" label="DM::OJ Solutions" %}
                    </div>
                    <div class="mb-1">
                        {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1/dmoj-solutions" label="DM::OJ Solutions Repo" %}
                    </div>
                    <div>
                        {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1/other-judges" label="Other Judges Repo" %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/discordchat.png' %}" class="card-img-top"
                     alt="The Chat Bridge in Action">
                <div class="card-body">
                    <h5 class="card-title">DiscordChat</h5>
                    <p class="card-text">A Spigot (Minecraft Server) plugin that functions as a way for
                        players on discord to directly chat with players on a Minecraft Server. It also includes
                        a few utility and administrative commands for players. Made using Java.</p>
                    {% include 'main/links/gitlab_link.html' with href="https://gitlab.com/FrostTaco/DiscordChat" %}
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/kitsplus.png' %}" class="card-img-top"
                     alt="A Cartoon of a Website">
                <div class="card-body">
                    <h5 class="card-title">KitsPlus</h5>

                    <p class="card-text">A Spigot (Minecraft Server) plugin that works as a Kit management
                        system for the KitPVP minigame (which is where players can select one of many kits and
                        duel each other with them). Made using Kotlin.</p>

                    <p class="note">Note: Image is old and UI has been since modified</p>

                    {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1/kitsplus2" %}
                </div>
            </div>
        </div>
        <div class="col col-4">
            <div class="card bg-light project-card">
                <img src="{% static 'project-pics/trigdrills.png' %}" class="card-img-top"
                     alt="Trig Drills Program">
                <div class="card-body">
                    <h5 class="card-title">Trig Drills</h5>
                    <p class="card-text">A simple python program that allows you to practice Trig Drills (i.e.
                        what is cos(120 degrees)). Made using Tkinter.</p>
                    {% include 'main/links/github_link.html' with href="https://github.com/plasmatic1/Trig-Drills" %}
                </div>
            </div>
        </div>
    </div>
</div>