{% extends 'todolist/index.html' %}
{% block todolist_page_name %} homework {% endblock %}

{% block body_inner %}
    <div class="col col-8">
        <h3>Homeworks</h3>

        <ul class="list-group mt-2 mb-4">
            {% for homework in homeworks %}

                {% with homework.overdue as overdue %}
                    {% with homework.due_tommorow as due_tommorow %}
                        <li class="list-group-item {% if overdue %}text-danger{% elif due_tommorow %}text-warning2{% endif %}">
                            <span>{{ homework.subject }} - {{ homework.name }} ({{ homework.due_date }})</span>
                            {% include 'todolist/widgets/remove_button.html' with pattern_name='todolist:remove_homework' entry_id=homework.id %}
                            {% include 'todolist/widgets/description_text.html' with text=homework.comments condition=homework.has_comments %}
                        </li>
                    {% endwith %}
                {% endwith %}

            {% endfor %}
        </ul>

        <h3>Subjects</h3>

        <ul class="list-group mt-2">
            {% for subject in subjects %}
                <li class="list-group-item align-items-center">
                    <span>{{ subject.name }} (ID: {{ subject.id }})</span>
                    {% include 'todolist/widgets/remove_button.html' with pattern_name='todolist:remove_subject' entry_id=subject.id %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col col-4">
        <div class="row"> {% include 'todolist/widgets/add_new_form.html' with item_name="homework" form=homework_form %} </div>
        <div class="row mt-3"> {% include 'todolist/widgets/add_new_form.html' with item_name="subject" form=subject_form %} </div>
    </div>
{% endblock %}
