{% extends 'base.html' %}
{% block title %} Todo List {% endblock %}
{% block header %} Todo List {% endblock %}
{% block page_name %} todolist {% endblock %}

{% block body %}
    <div class="col">
        <div class="row">
            <ul class="nav nav-pills" id="todo-category-nav">
                <li class="nav-item">
                    <a class="nav-link" id="problems" href="{% url 'todolist:problems' %}">Problems</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="homework" href="{% url 'todolist:homework' %}">Homework</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="projects" href="{% url 'todolist:projects' %}">Projects</a>
                </li>
            </ul>
        </div>
        <div class="row mt-4 mb-5">
            {% block body_inner %} {% endblock %}
        </div>
    </div>
{% endblock %}

{% block extra %}
    <script>
        const $navLink = $('ul#todo-category-nav li a#' + "{% spaceless %}{% block todolist_page_name %}{% endblock %}{% endspaceless %}");
        $navLink.addClass('active');
    </script>
{% endblock %}
