{% extends 'todolist/index.html' %}
{% block todolist_page_name %} problems {% endblock %}

{% block body_inner %}
    {% load static %}

    <div class="col col-8">
        <h3>Problems</h3>

        <ul class="list-group mt-2">
            {% for problem in problems %}
                <li class="list-group-item">
                    {% with 'icons/'|add:problem.type|add:'.png' as problem_icon %}
                        {#                        <span>Img source: "{{ problem_icon }}"</span>#}
                        <img src="{% static problem_icon %}" width="20" height="20">
                    {% endwith %}

                    <span class="ml-2">
                        {% if problem.has_name %}
                            <a href="{{ problem.link }}">{{ problem.name }}</a>
                        {% else %}
                            <a href="{{ problem.link }}">{{ problem.link }}</a>
                        {% endif %}
                    </span>

                    {% include 'todolist/widgets/remove_button.html' with pattern_name='todolist:remove_problem' entry_id=problem.id %}
                </li>
            {% endfor %}
        </ul>
    </div>

    <div class="col col-4">
        {% include 'todolist/widgets/add_new_form.html' with item_name='problem' form=form %}
    </div>

{% endblock %}
