<div class="row mt-3">
    <div class="card">
        <h4 class="card-header">Admin Controls</h4>
        <div class="card-body">
            <table class="table-layout-only">
                <tr>
                    <td>Reload</td>
                    <td><a href="{% url 'dmojsolutions:reload_problems' %}" class="button">
                        <button class="btn btn-outline-warning">Problems</button>
                    </a></td>
                    <td><a href="{% url 'dmojsolutions:reload_solutions' %}" class="button">
                        <button class="btn btn-outline-warning">Solutions</button>
                    </a></td>
                </tr>

                <tr>
                    <td>Delete</td>
                    <td><a href="{% url 'dmojsolutions:delete_problems' %}" class="button">
                        <button class="btn btn-outline-danger">Problems</button>
                    </a></td>
                    <td><a href="{% url 'dmojsolutions:delete_solutions' %}" class="button">
                        <button class="btn btn-outline-danger">Solutions</button>
                    </a></td>
                </tr>

                <tr>
                    <td>Django</td>
                    <td><a href="/admin" class="button">
                        <button class="btn btn-outline-primary">Admin</button>
                    </a></td>
                </tr>
            </table>
        </div>
    </div>
</div>
