<div class="row mt-3">
    <div class="card">
        <h4 class="card-header">GitHub API Rate Limit Stats</h4>
        <div class="card-body">
            <table class="table-layout-only">
                {% if rate_limit.initialized %}
                    <tr>
                        <td><b>Requests Remaining</b></td>
                        <td>{{ rate_limit.remaining }} / {{ rate_limit.total }}</td>
                    </tr>
                    <tr>
                        <td><b>Time Until Reset</b></td>
                        <td>{{ rate_limit.until_reset_str }} (INACCURATE)</td>
                    </tr>
                {% else %}
                    <tr>
                        <td><b>No API Requests Sent!</b></td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>
</div>