// Universal Styling for basic things
$block-margin: 15px;
$block-padding: 10px;
$button-padding: 7px;

*:not(code) {
  font-family: 'Ubuntu', 'Calibri', 'Helvetica', 'Arial', sans-serif;
}

code {
  font-family: 'Consolas', monospace;
}

h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 5px;
}

// Make sure the container doesn't just float-left completely
.container {
  max-width: 85% !important;
}

// So the messages div doesn't cover the entire bottom
#messages-div {
  max-width: 25% !important;
}

// text-warning is too light
.text-warning2 {
  color: #c19000;
}

// DM::OJ-sols View HTML
$pdf-height: 1000px;
$pdf-width: 800px;

.view-table {
  tr {
    td {
      vertical-align: top;
      resize: both;
      overflow: auto;
    }

    td.view-code {
      width: 100%;
      code {
        height: 10px;
      }
      overflow: scroll;
    }

    td.view-problem embed {
      height: $pdf-height;
      width: $pdf-width;
    }
  }
}

// -------------------------
// IDK MAN MORE SHIT
// -------------------------

// Special tables that have little margins
.table-layout-only {
  tr {
    td, th {
      padding: 5px;
    }
  }
}

// Fix container width
.container {
  max-width: 1500px;
}

// So that messages float to the bottom
#messages-div {
  position: fixed;
  bottom: 1em;
  left: 1em;
}

// No idea what this does but I don't want to remove it
.form-group.is-invalid {
  .invalid-feedback {
    display: block;
  }
}

// So that code samples display properly
pre {
  color: rgba(255, 63, 113, 0.99);
}

// Navbar stuff
//nav {
//  padding-top: 0 !important;
//  padding-bottom: 0 !important;
//}
//
//.nav-item {
//  min-height: 100% !important;
//  //border: 1px solid red;
//
//  a {
//    min-height: 100% !important;
//    line-height: 200% !important;
//  }
//}

//$admin-color: #f1af10;
//.light-admin-background {
//  color: $admin-color !important;
//  background-color: lighten($admin-color, 40%);
//  transition: 0.5s;
//}
//
//@mixin admin-color {
//  color: darken($admin-color, 10%) !important;
//  background-color: lighten($admin-color, 20%);
//}
//
//.light-active-background.light-admin-background {
//  @include admin-color;
//}
//
//.light-admin-background:hover {
//  @include admin-color;
//  transition: 0.5s;
//}
//
//.light-active-background {
//  color: #000 !important;
//  background-color: #dcdcdc;
//  transition: 0.5s;
//}
