<!doctype html>
<html lang="en">
<head>
    {#    META STUFF#}
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {#    TITLE#}
    <title>{% block title %} {% endblock %}</title>

    {#    LOADING BOOTSTRAP#}
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    {#    LOADING CSS#}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main-css/basic.css' %}">
    {# Basic and Global Changes #}
    <link rel="stylesheet" href="{% static 'main-css/fixes.css' %}">
    {# Fixes for Existing Classes and Elements #}
    <link rel="stylesheet" href="{% static 'main-css/custom.css' %}">
    {# Custom Classes and IDs #}

    <link rel="stylesheet" href="{% static 'header.css' %}">
    {# CSS for Header (NavBar) #}
    <link rel="stylesheet" href="{% static 'forms.css' %}">
    {# CSS for Forms #}

    {#    EXTRA HEAD STUFF#}
    {% block head-extra %} {% endblock %}
</head>
<body>

{% include 'nav.html' %}

{#If user object is not in context, show error#}
{% if not user %}
    <h1 style="color: red;">User object not in context!</h1>
{% endif %}

{#Page body#}
<div class="body">
    {# Loading JQuery #}
    <script
            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
            crossorigin="anonymous"></script>

    {# Loading Bootstrap #}
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <div class="container">
        {#Header#}
        <div class="row" id="header">
            <h1>
                {% block header %}{% endblock %}
            </h1>
        </div>
        <div class="row">
            <hr class="col col-6 ml-0">
        </div>

        <div class="row">
            {% block body %} {% endblock %}
        </div>
    </div>
</div>

{#    Extra Scripts for Stuff#}
<script>
    var pageName = '{% spaceless %}{% block page_name %}{% endblock %}{% endspaceless %}';
    $('#' + pageName)
        .addClass('active')
        .addClass('light-active-background');

    // Add "novalidate" to all forms so that the Bootstrap validation is used instead of the ugly HTML one
    $('form').attr('novalidate', 'novalidate')
</script>

{% block extra %} {% endblock %}

{% include 'widgets/messages.html' %}

</body>
</html>
