// So that messages float to the bottom
#messages-div {
  position: fixed;
  bottom: 1em;
  left: 1em;

  // So the messages div doesn't cover the entire bottom
  max-width: 25% !important;
}

// text-warning is too light
.text-warning2 {
  color: #c19000;
}

// Basically like a note (i.e. "Note: This image is old")
.note {
  font-style: italic;
  color: mix(#656565, yellow, 75%);
}

// Extra Padding and Stuff to project cards
.project-card {
  margin: 1em;
}

// -------------------------------
// DM::OJ-sols View HTML
// -------------------------------

div.view-code {
  background: #f5f2f0;
  margin: 0.75em;

  pre {
    code {
      white-space: pre !important;
    }

    &, code, code span {
      font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono", "Droid Sans Mono", monospace, monospace !important;
    }
  }

  overflow: scroll;
  //max-width: 75em;
  //max-height: 100em;
}

// -------------------------------
// Navbar Stuff
// -------------------------------

//nav {
//  padding-top: 0 !important;
//  padding-bottom: 0 !important;
//}
//
//.nav-item {
//  min-height: 100% !important;
//  //border: 1px solid red;
//
//  a {
//    min-height: 100% !important;
//    line-height: 200% !important;
//  }
//}

//$admin-color: #f1af10;
//.light-admin-background {
//  color: $admin-color !important;
//  background-color: lighten($admin-color, 40%);
//  transition: 0.5s;
//}
//
//@mixin admin-color {
//  color: darken($admin-color, 10%) !important;
//  background-color: lighten($admin-color, 20%);
//}
//
//.light-active-background.light-admin-background {
//  @include admin-color;
//}
//
//.light-admin-background:hover {
//  @include admin-color;
//  transition: 0.5s;
//}
//
//.light-active-background {
//  color: #000 !important;
//  background-color: #dcdcdc;
//  transition: 0.5s;
//}
