// Special tables that have little margins
.table-layout-only {
  tr {
    td, th {
      padding: 5px;
    }
  }
}

// Make sure the container doesn't just float-left completely
.container {
  max-width: 85% !important;
}

// Fix container width
.container {
  max-width: 1500px;
}

// No idea what this does but I don't want to remove it
// It does something related to fixing bootstrap forms
.form-group.is-invalid {
  .invalid-feedback {
    display: block;
  }
}

// So that code samples display properly
pre {
  color: rgba(255, 63, 113, 0.99);
}
