{% extends 'base.html' %}
{% block title %} Problem {{ problem.name }} {% endblock %}
{% block header %} Solution for "{{ problem.name }}" in {{ full_lang }} {% endblock %}
{% block page_name %} dmojsolutions {% endblock %}

{#https://prismjs.com/index.html#}
{% block head-extra %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'prism-highlight/prism.css' %}">
{% endblock %}

{% block body %}
    <script src="{% static 'prism-highlight/prism.js' %}"></script>

    <div class="col">
        <div class="row mb-2">
            <h2>Solution <a href="{% url 'dmojsolutions:raw' code ext %}">(Raw Text)</a></h2>
        </div>
        <div class="row">
            <div class="view-code">
                <pre class="line-numbers"><code class="language-{{ prism_lang }}">{{ src }}</code></pre>
            </div>
        </div>
        <div class="row mt-4">
            <h2>Problem Statement</h2>
        </div>
        <div class="row">
            <div class="view-problem">
                <object width="850" height="1050" type="application/pdf"
                        data="{{ pdf_link }}">
                    <p>The document could not be loaded, sorry for the inconvenience.</p>
                </object>
            </div>
        </div>
    </div>
{% endblock %}
